.warningVisible {
    height: 22px;
  }
  
  .aca-requester-dialog,
  .aca-approver-dialog {
    font-family: 'Roboto', sans-serif;
  }
  
  .aca-requester-dialog .content-wrapper,
  .aca-approver-dialog .content-wrapper {
    background-color: #fff;
    height: calc(100% - 56px);
  }
  
  .aca-requester-dialog .content-wrapper .header.fp-header,
  .aca-approver-dialog .content-wrapper .header.fp-header {
    height: 48px;
    min-height: 48px;
  }
  
  .aca-requester-dialog .content-wrapper .header.fp-header .header-labelWrapper.fp-header-title-wrapper,
  .aca-approver-dialog .content-wrapper .header.fp-header .header-labelWrapper.fp-header-title-wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .aca-requester-dialog .content-wrapper .header.fp-header .header-labelWrapper.fp-header-title-wrapper .header-title.fp-header-title,
  .aca-approver-dialog .content-wrapper .header.fp-header .header-labelWrapper.fp-header-title-wrapper .header-title.fp-header-title {
    position: absolute;
    top: 0;
    left: 8px;
    line-height: 48px;
    font-size: 1rem;
  }
  
  .aca-requester-dialog .content-wrapper .header.fp-header .header-labelWrapper.fp-header-title-wrapper .loggedOnLabelContainer,
  .aca-approver-dialog .content-wrapper .header.fp-header .header-labelWrapper.fp-header-title-wrapper .loggedOnLabelContainer {
    margin: 0 auto;
    padding: 4px;
    max-width: 564px;
    min-height: 24px;
    max-height: 48px;
    line-height: 16px;
    text-align: center;
    background-color: #fdead2;
    border: 1px solid #f7941e;
    font-size: 0.8rem;
    -ms-flex-item-align: unset;
        align-self: unset;
    border-radius: 0;
    z-index: 1;
  }
  
  .aca-requester-dialog .body-wrapper,
  .aca-approver-dialog .body-wrapper {
    height: calc(100% - 52px);
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar {
    min-height: 32px;
    background-color: #fff;
    margin-top: 16px;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav {
    width: 100%;
    height: 32px;
    min-height: 32px;
    background-color: #fff;
    position: relative;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav:after,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav:after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #b7bfc8;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollableContainer.horizontal,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollableContainer.horizontal {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollableContainerInner,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollableContainerInner {
    overflow: hidden;
    white-space: normal;
    width: calc(100% - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollableContainerInner .tab-track,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollableContainerInner .tab-track {
    display: none;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollBackButton,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollBackButton {
    margin-left: 5px;
    background: url("../images/png/keyboardLeft-666.png");
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border: none !important;
    padding: 0;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    display: inline-block;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollBackButton:hover,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollBackButton:hover {
    background: url("../images/png/keyboardLeft-1B87c9.png");
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border: none !important;
    padding: 0;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    display: inline-block;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollBackButton:active,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollBackButton:active {
    background: url("../images/png/keyboardLeft-FF9800.png");
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border: none !important;
    padding: 0;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    display: inline-block;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollForwardButton,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollForwardButton {
    background: url("../images/png/keyboardRight-666.png");
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border: none !important;
    padding: 0;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    display: inline-block;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollForwardButton:hover,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollForwardButton:hover {
    background: url("../images/png/keyboardRight-1B87c9.png");
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border: none !important;
    padding: 0;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    display: inline-block;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollForwardButton:active,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav .scrollForwardButton:active {
    background: url("../images/png/keyboardRight-FF9800.png");
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border: none !important;
    padding: 0;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    display: inline-block;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav ul.nav-wrapper,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav ul.nav-wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab {
    font-size: 0.8rem;
    color: #484848;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 32px;
    height: 32px;
    white-space: nowrap;
    margin: 0;
    padding: 0 16px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 0 1px transparent;
            box-shadow: 0 0 1px transparent;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:hover, .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:active, .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:focus,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:hover,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:active,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:focus {
    color: #484848;
    font-weight: 500;
    border-bottom: 2px solid #2776bd;
    z-index: 1;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab.selected,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab.selected {
    color: #484848;
    font-weight: 500;
    border-bottom: 4px solid #2776bd;
    z-index: 1;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:before,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:before {
    display: none;
  }
  
  .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:hover:before, .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:focus:before, .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:active:before, .aca-requester-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab.selected:before,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:hover:before,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:focus:before,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab:active:before,
  .aca-approver-dialog .body-wrapper .tabBar.qa-lai-tabBar .main-nav li.tab.selected:before {
    display: none;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper {
    height: calc(100% - 44px);
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content {
    height: 100%;
    padding: 16px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content label,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content label {
    font-size: 0.8rem;
    color: #757575;
    margin-bottom: 4px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls {
    margin-bottom: 8px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls > div,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls > div {
    width: 100%;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper {
    white-space: nowrap;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper {
    max-width: 384px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer {
    height: 24px;
    max-height: 24px;
    width: 384px;
    min-width: 192px;
    max-width: 384px;
    margin-bottom: 8px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input {
    min-width: 192px;
    max-width: 384px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input {
    background-image: url("../images/png/icon-search--default.png");
    background-position: center left 4px;
    background-repeat: no-repeat;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 24px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input:hover,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input:hover {
    background-image: url("../images/png/icon-search--hover.png");
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input:active, .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input:focus,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input:active,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input:focus {
    background-image: url("../images/png/icon-search--active.png");
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input::-ms-clear,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input::-ms-clear {
    display: none;
  }
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input,
    .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .searchInputWrapper .searchInputContainer la-input input {
      /* IE10+ CSS styles go here */
      line-height: 0;
    }
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .clientHierarchyBox,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .clientHierarchyBox {
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    min-width: 188px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .clientHierarchyBox label.el-checkbox,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .clientHierarchyBox label.el-checkbox {
    height: 24px;
    margin-left: 4px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .clientHierarchyBox label.el-checkbox input,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .clientHierarchyBox label.el-checkbox input {
    margin-left: 0;
    margin-top: 0;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .clientHierarchyBox label.el-checkbox .control-indicator,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .searchSectionWrapper .clientHierarchyBox label.el-checkbox .control-indicator {
    min-width: 12px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .tokensContainer,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .tokensContainer {
    margin-bottom: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .tokensContainer .autoCompleteToken,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .tokensContainer .autoCompleteToken {
    background-color: #d4e4f8;
    border: 1px solid #d4e4f8;
    height: 20px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .tokensContainer .autoCompleteToken .autoCompleteTokenLabel,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .tokensContainer .autoCompleteToken .autoCompleteTokenLabel {
    color: #484848;
    font-size: 0.8rem;
    padding-left: 8px;
    white-space: nowrap;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .tokensContainer .autoCompleteToken .autoCompleteTokenDeleteButton,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .add-client-controls .tokensContainer .autoCompleteToken .autoCompleteTokenDeleteButton {
    width: 16px;
    height: 16px;
    background-image: url("../images/png/icon-cancel--default.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
    font-size: 0;
    top: 5px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls {
    margin-bottom: 0px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .el-info-icon,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .el-info-icon {
    position: relative;
    top: -2px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper {
    border-right: 1px solid #b7bfc8;
    margin-right: 4px;
    width: 200px;
    max-width: 200px;
    margin-bottom: 8px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput {
    height: 24px;
    max-height: 24px;
    min-width: 192px;
    max-width: 384px;
    margin-right: 8px;
    margin-bottom: 0;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input {
    min-width: 192px;
    max-width: 384px;
    margin-bottom: 0;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input {
    background-image: url("../images/png/icon-filter--default.png");
    background-position: center left 4px;
    background-repeat: no-repeat;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 24px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input:hover,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input:hover {
    background-image: url("../images/png/icon-filter--hover.png");
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input:active, .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input:focus,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input:active,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input:focus {
    background-image: url("../images/png/icon-filter--active.png");
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input::-ms-clear,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input::-ms-clear {
    display: none;
  }
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input,
    .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsTextFilterWrapper .requestsTextFilter .requestsTextFilterInput la-input input {
      /* IE10+ CSS styles go here */
      line-height: 0;
    }
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper {
    width: 130px;
    max-width: 130px;
    margin-bottom: 8px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn {
    width: 56px;
    min-width: 56px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #b7bfc8;
    color: #999;
    font-weight: 400;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn:hover, .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn:active, .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn:focus,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn:hover,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn:active,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn:focus {
    background-color: #f2f2f2;
    color: #484848;
    font-weight: 500;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn.selected,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .add-btn.selected {
    background-color: #c2e2ff;
    color: #2776bd;
    font-weight: 500;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn {
    width: 74px;
    min-width: 74px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #b7bfc8;
    border-left: 0px hidden transparent;
    color: #999;
    font-weight: 400;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn:hover, .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn:active, .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn:focus,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn:hover,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn:active,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn:focus {
    background-color: #f2f2f2;
    color: #484848;
    font-weight: 500;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn.selected,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestActionButtonsParentWrapper .requestActionButtonsWrapper .update-btn.selected {
    background-color: #c2e2ff;
    color: #2776bd;
    font-weight: 500;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsRoleFilterWrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsRoleFilterWrapper {
    width: 150px;
    max-width: 150px;
    margin-bottom: 8px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsRoleFilterWrapper .requestsRoleFilter .menuButtonContainer,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsRoleFilterWrapper .requestsRoleFilter .menuButtonContainer {
    margin-bottom: 0;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsProductFilterWrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsProductFilterWrapper {
    width: 150px;
    max-width: 150px;
    margin-bottom: 8px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsProductFilterWrapper .requestsProductFilter .menuButtonContainer,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsProductFilterWrapper .requestsProductFilter .menuButtonContainer {
    margin-bottom: 0;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsRegionFilterWrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsRegionFilterWrapper {
    width: 150px;
    max-width: 150px;
    margin-bottom: 8px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsRegionFilterWrapper .requestsRegionFilter .menuButtonContainer,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .requestsRegionFilterWrapper .requestsRegionFilter .menuButtonContainer {
    margin-bottom: 0;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .bulk-add-btn-wrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .bulk-add-btn-wrapper {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 4px;
    margin-bottom: 8px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .bulk-add-btn-wrapper button,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .filter-controls .bulk-add-btn-wrapper button {
    text-transform: capitalize;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper {
    height: 100%;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper .aceDataGrid .el-btn-filled.el-btn-grid.cancelRequestButton,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper .aceDataGrid .el-btn-filled.el-btn-grid.cancelRequestButton {
    width: 100px !important;
    margin: 0 auto;
    padding: 0 !important;
    text-align: center;
    line-height: 18px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div {
    height: 100%;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid {
    height: calc(100% - 24px);
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-pane.slick-pane-header.slick-pane-left,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-pane.slick-pane-header.slick-pane-left {
    letter-spacing: 0.5px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-toggle,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-toggle {
    width: 24px !important;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title {
    width: 100%;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .plusIcon,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .plusIcon {
    background-image: url("../images/png/icon-plus--default.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    margin-left: auto;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .plusIcon:hover, .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .plusIcon:active, .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .plusIcon:focus,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .plusIcon:hover,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .plusIcon:active,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .plusIcon:focus {
    background-image: url("../images/png/icon-plus--active.png");
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .deleteButton,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .slick-group-title .deleteButton {
    width: 24px !important;
    margin-left: 4px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .warningVisible,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .aceDataGrid .warningVisible {
    background-image: url("../images/png/icon-circle-error.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
  }
  
  .aca-requester-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .coverageManagementFooter,
  .aca-approver-dialog .body-wrapper .carousel-wrapper .main-content .aca-grid-wrapper > div .coverageManagementFooter {
    height: 24px;
    border: 1px solid #b7bfc8;
    border-top: 0px hidden transparent;
    background-color: #e2e2e2;
    font-size: 0.625rem;
    line-height: 24px;
    color: #484848;
    letter-spacing: 0.5px;
    padding-left: 8px;
  }
  
  .aca-requester-dialog .fp-footer,
  .aca-approver-dialog .fp-footer {
    background-color: #e2e2e2;
    height: 64px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .aca-approver-dialog .pendingRequestsTextFilterWrapper {
    margin-right: 4px;
    width: 200px;
    max-width: 200px;
    margin-bottom: 8px;
  }
  
  .aca-approver-dialog .pendingRequestsTextFilterWrapper .pendingRequestsTextFilter .pendingRequestsTextFilterInput {
    height: 24px;
    max-height: 24px;
    min-width: 192px;
    max-width: 384px;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .aca-approver-dialog .pendingRequestsTextFilterWrapper .pendingRequestsTextFilter .pendingRequestsTextFilterInput la-input {
    min-width: 192px;
    max-width: 384px;
    margin-bottom: 0;
  }
  
  .aca-approver-dialog .pendingRequestsTextFilterWrapper .pendingRequestsTextFilter .pendingRequestsTextFilterInput la-input input {
    background-image: url("../images/png/icon-filter--default.png");
    background-position: center left 4px;
    background-repeat: no-repeat;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 24px;
  }
  
  .aca-approver-dialog .pendingRequestsTextFilterWrapper .pendingRequestsTextFilter .pendingRequestsTextFilterInput la-input input:hover {
    background-image: url("../images/png/icon-filter--hover.png");
  }
  
  .aca-approver-dialog .pendingRequestsTextFilterWrapper .pendingRequestsTextFilter .pendingRequestsTextFilterInput la-input input:active, .aca-approver-dialog .pendingRequestsTextFilterWrapper .pendingRequestsTextFilter .pendingRequestsTextFilterInput la-input input:focus {
    background-image: url("../images/png/icon-filter--active.png");
  }
  
  .aca-approver-dialog .pendingRequestsTextFilterWrapper .pendingRequestsTextFilter .pendingRequestsTextFilterInput la-input input::-ms-clear {
    display: none;
  }
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .aca-approver-dialog .pendingRequestsTextFilterWrapper .pendingRequestsTextFilter .pendingRequestsTextFilterInput la-input input {
      /* IE10+ CSS styles go here */
      line-height: 0;
    }
  }
  
  .aca-approver-dialog .approverGroupByFilterWrapper {
    min-width: 192px;
    max-width: 384px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-bottom: 8px;
  }
  
  .aca-approver-dialog .approverGroupByFilterWrapper .approverGroupByFilter {
    margin-bottom: 0;
    min-width: 192px;
    max-width: 384px;
  }
  
  .aca-approver-dialog .approverGroupByFilterWrapper .approverGroupByFilter .menuButtonContainer {
    margin-bottom: 0;
  }
  
  .aca-approver-dialog .approverGroupByFilterWrapper .approverGroupByFilter .menuButtonContainer .aceMenuWrapper.menuButtonContainer {
    margin-bottom: 0;
  }
  
  .aca-approver-dialog .approvalHistoryTextFilter {
    margin-bottom: 8px;
  }
  
  .aca-approver-dialog .approvalHistoryTextFilter .amlControlContainerWrapper la-input {
    min-width: 192px;
    max-width: 384px;
    margin-bottom: 0;
  }
  
  .aca-approver-dialog .approvalHistoryTextFilter .amlControlContainerWrapper la-input input {
    background-image: url("../images/png/icon-filter--default.png");
    background-position: center left 4px;
    background-repeat: no-repeat;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 24px;
  }
  
  .aca-approver-dialog .approvalHistoryTextFilter .amlControlContainerWrapper la-input input:hover {
    background-image: url("../images/png/icon-filter--hover.png");
  }
  
  .aca-approver-dialog .approvalHistoryTextFilter .amlControlContainerWrapper la-input input:active, .aca-approver-dialog .approvalHistoryTextFilter .amlControlContainerWrapper la-input input:focus {
    background-image: url("../images/png/icon-filter--active.png");
  }
  
  .aca-approver-dialog .approvalHistoryTextFilter .amlControlContainerWrapper la-input input::-ms-clear {
    display: none;
  }
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .aca-approver-dialog .approvalHistoryTextFilter .amlControlContainerWrapper la-input input {
      /* IE10+ CSS styles go here */
      line-height: 0;
    }
  }
  
  .aca-approver-dialog .approvalHistoryStatusFilterWrapper {
    margin-left: 8px;
    margin-bottom: 8px;
  }
  
  .aca-approver-dialog .approvalHistoryStatusFilterWrapper .approvalHistoryStatusFilter .amlControlContainerWrapper {
    width: 100%;
  }
  
  .aca-approver-dialog .approvalHistoryStatusFilterWrapper .approvalHistoryStatusFilter .amlControlContainerWrapper .menuButtonContainer {
    min-width: 192px;
    max-width: 384px;
  }
  
  .aca-approver-dialog .approvalHistoryDurationFilterWrapper {
    margin-bottom: 8px;
  }
  
  .aca-approver-dialog .approvalHistoryDurationFilterWrapper .approvalHistoryDurationFilter .amlControlContainerWrapper {
    width: 100%;
  }
  
  .aca-approver-dialog .approvalHistoryDurationFilterWrapper .approvalHistoryDurationFilter .amlControlContainerWrapper .menuButtonContainer {
    min-width: 192px;
    max-width: 384px;
    width: 192px;
  }
  
  ul.ui-autocomplete.ui-menu .ui-menu-item.searchAutoCompleteListItem {
    padding: 3px 3px !important;
    font-size: 0.8rem;
  }
  
  ul.ui-autocomplete.ui-menu .ui-menu-item.searchAutoCompleteListItem a {
    color: #484848;
  }
  
  ul.ui-autocomplete.ui-menu .ui-menu-item.searchAutoCompleteListItem.ui-state-focus {
    border: 0px solid #fff !important;
    background: #e9f1f8;
    font-weight: 400 !important;
    color: #2776bd !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  
  ul.ui-autocomplete.ui-menu .ui-menu-item.searchAutoCompleteListItem.ui-state-focus .searchAutoCompleteColumn {
    color: #2776bd !important;
  }
  
  ul.ui-autocomplete.ui-menu .ui-menu-item.searchAutoCompleteListItem.ui-state-focus:active .searchAutoCompleteColumn {
    color: #2776bd !important;
  }
  
  /**============== JQUERY Calendar UI HACKS ==============**/
  .ui-datepicker.ui-widget {
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-size: 1rem;
    color: #2776bd !important;
    font-family: "Roboto", sans-serif !important;
    z-index: 10001 !important;
    width: 200px;
    border: 0px solid white;
    background-color: #fff;
    padding: 0;
    border-radius: 0px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    color: #484848;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .ui-datepicker.ui-widget .ui-widget-content {
    font-size: 0.7rem !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header {
    border: 1px solid #2776bd;
    background: #2776bd !important;
    color: #fff !important;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding: 0;
    border-radius: 0px;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title {
    margin: 0;
    padding: 0;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
    font-size: 0.7rem;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title .ui-datepicker-month,
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title .ui-datepicker-year {
    color: #fff;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select {
    background-color: transparent;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 500;
    background: url("../images/png/icon-arrow_down-dkbg--default.png") no-repeat center right 8px;
    cursor: pointer;
    width: 34% !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select:hover {
    background: url("../images/png/icon-arrow_down-dkbg--hover.png") no-repeat center right 8px;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select:active {
    background: url("../images/png/icon-arrow_down-dkbg--active.png") no-repeat center right 8px;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select:first-child {
    margin-left: 45px;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select:last-child {
    background: url("../images/png/icon-arrow_down-dkbg--default.png") no-repeat center right 46px;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select:last-child:hover {
    background: url("../images/png/icon-arrow_down-dkbg--hover.png") no-repeat center right 46px;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select:last-child:active {
    background: url("../images/png/icon-arrow_down-dkbg--active.png") no-repeat center right 46px;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select option {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    color: #484848;
    text-transform: uppercase;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-datepicker-title select::-ms-expand {
    display: none;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-header.ui-widget-header .ui-state-active {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    border-radius: 3px;
    border: 1px solid #2776bd;
    background: transparent !important;
    font-weight: normal;
    color: #2776bd !important;
  }
  
  .ui-datepicker.ui-widget th {
    padding: 0em .3em;
    text-align: center;
    font-weight: 500;
    border: 0;
  }
  
  .ui-datepicker.ui-widget .ui-state-default {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    border: 1px solid #fff;
    background: #fff;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    color: #484848;
    margin-right: 4px;
    display: block;
  }
  
  .ui-datepicker.ui-widget .ui-state-default.ui-state-hover {
    border-radius: 3px;
    border: 1px solid #2776bd;
    background: transparent;
    font-weight: normal;
    color: #2776bd;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  
  .ui-datepicker.ui-widget .ui-state-highlight {
    border-radius: 3px;
    border: 1px solid #2776bd;
    background: #2776bd;
    color: #ffffff;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-prev[data-handler="prev"] {
    background-color: transparent !important;
    border: none !important;
    background-image: url("../images/png/icon-chevron-left-dkbg--default.png");
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;
    background-position: center center !important;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    top: 2px !important;
    left: 2px !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-prev[data-handler="prev"] .ui-icon.ui-icon-circle-triangle-e {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-prev[data-handler="prev"] .ui-icon {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-prev[data-handler="prev"].ui-state-hover.ui-datepicker-prev-hover, .ui-datepicker.ui-widget .ui-datepicker-prev[data-handler="prev"]:hover {
    background-color: transparent !important;
    border: none !important;
    background-image: url("../images/png/icon-chevron-left-dkbg--hover.png") !important;
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;
    background-position: center center !important;
    width: 20px !important;
    height: 20px !important;
    top: 2px !important;
    left: 2px !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-prev[data-handler="prev"]:active, .ui-datepicker.ui-widget .ui-datepicker-prev[data-handler="prev"]:focus {
    background-color: transparent !important;
    border: none !important;
    background-image: url("../images/png/icon-chevron-left-dkbg--active.png") !important;
    background-repeat: no-repeat !important;
    background-size: 16px 16px;
    background-position: center center !important;
    width: 20px !important;
    height: 20px !important;
    top: 2px !important;
    left: 2px !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-next[data-handler="next"] {
    background-color: transparent !important;
    border: none !important;
    background-image: url("../images/png/icon-chevron-right-dkbg--default.png");
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;
    background-position: center center !important;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    top: 2px !important;
    right: 2px !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-next[data-handler="next"] .ui-icon.ui-icon-circle-triangle-e {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-next[data-handler="next"] .ui-icon {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-next[data-handler="next"].ui-state-hover.ui-datepicker-next-hover {
    background-color: transparent !important;
    border: none !important;
    background-image: url("../images/png/icon-chevron-right-dkbg--hover.png") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 16px 16px !important;
    width: 20px !important;
    height: 20px !important;
    top: 2px !important;
    right: 2px !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-next[data-handler="next"].ui-state-hover.ui-datepicker-next-hover:active, .ui-datepicker.ui-widget .ui-datepicker-next[data-handler="next"].ui-state-hover.ui-datepicker-next-hover:focus {
    background-color: transparent !important;
    border: none !important;
    background-image: url("../images/png/icon-chevron-right-dkbg--active.png") !important;
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;
    background-position: center center !important;
    width: 20px !important;
    height: 20px !important;
    top: 2px !important;
    right: 2px !important;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-buttonpane.ui-widget-content {
    border: none;
    border-top: 1px solid #ddd;
    background: #eee;
    background-image: none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-buttonpane.ui-widget-content .ui-priority-secondary,
  .ui-datepicker.ui-widget .ui-datepicker-buttonpane.ui-widget-content .ui-priority-primary {
    opacity: 1 !important;
    filter: Alpha(Opacity=100) !important;
    font-weight: normal !important;
    background: #2776bd;
    border: 1px solid #2776bd;
    color: #fff;
  }
  
  .ui-datepicker.ui-widget .ui-datepicker-buttonpane.ui-widget-content .ui-priority-secondary.ui-state-hover,
  .ui-datepicker.ui-widget .ui-datepicker-buttonpane.ui-widget-content .ui-priority-primary.ui-state-hover {
    background: #4190d8;
    border: 1px solid #4190d8;
  }
  
  /**============== JQUERY Calendar UI HACKS ==============**/
  .hide-weekends .ui-datepicker-week-end {
    display: none;
  }
  
  table.ui-datepicker-calendar {
    font-size: 0.7rem !important;
    margin-bottom: 0px;
    margin-top: 4px;
    max-width: 258px;
  }
  
  table.ui-datepicker-calendar thead {
    line-height: 15px;
    text-align: center;
    overflow-x: hidden;
    background-color: #f2f2f2;
  }
  
  table.ui-datepicker-calendar thead th {
    color: #757575;
  }
  
  .ui-datepicker th {
    padding: 0em .3em;
    text-align: center;
    font-weight: 500;
    border: 0;
    padding: 0em 0.3em;
    width: 32px;
  }
  
  .ui-datepicker-today .ui-state-highlight {
    color: #fff !important;
    font-weight: 700 !important;
    background-color: #2776bd !important;
    border: 1.2px solid #2776bd !important;
  }
  
  .ui-state-highlight.ui-datepicker-today a {
    background: #91cdfd !important;
  }
  
  /** for header with year spinner **/
  .ui-datepicker-group {
    min-height: 110px;
    width: 100% !important;
  }
  
  .ui-datepicker-header .ui-state-active,
  .ui-state-highlight.ui-datepicker-today a {
    border-radius: 4px;
    background: #d4e4f2 !important;
    border: 1.2px solid #2776bd !important;
    font-weight: 500;
    color: #484848 !important;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    cursor: pointer;
  }
  
  .ui-datepicker .ui-state-highlight {
    border-radius: 4px;
    border: 0px solid white;
    background: none;
    color: #484848;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .ui-datepicker .ui-state-highlight a {
    border-radius: 4px;
    background: #dbdbdb !important;
    font-weight: 700;
    color: #616161 !important;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    cursor: pointer;
  }
  
  .ui-datepicker .ui-state-highlight .ui-state-default {
    background: #d4e4f2 !important;
    border: 1.2px solid #d4e4f2 !important;
  }
  
  .ui-datepicker-unselectable .ui-state-default {
    color: #999;
    font-weight: 400;
  }
  
  /** time label on diary **/
  .fc-time {
    font-size: 0.8rem;
    font-weight: 500;
    color: #2776bd;
  }
  
  /** time label on diary entry **/
  .fc-time-grid-event .fc-time {
    font-size: 0.8rem;
    white-space: nowrap;
    color: #484848;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .ui-dialog-titlebar {
    height: 36px;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .ui-dialog-titlebar .ui-button {
    display: none;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .ui-dialog-content main {
    margin-bottom: 8px;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .ui-dialog-content main .el-item-label {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500;
    color: #484848;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .ui-dialog-content main .coverage-approve-dialog-textarea {
    min-height: 116px;
    margin-left: 0;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .ui-dialog-content main .coverage-approve-dialog-textarea .pm-reason-textarea-wrapper {
    margin-left: 0;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .ui-dialog-content main .coverage-approve-dialog-textarea .pm-reason-textarea-wrapper textarea {
    overflow: auto;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .dialog-footer {
    padding: 8px 0;
  }
  
  .coverageConfirmationDialog.ui-dialog.confirmationDialog .dialog-footer .dialog-footer-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  